provider "aws" {
  region = "{{ provider_region }}"

  default_tags {
    tags = {
      Service    = "{{ service }}"
      managed_by = "Terraform"
    }
  }
}


terraform {
  required_version = ">= {{ tf_version }}"
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 4.33"
    }
  }
  backend "s3" {
    region         = "{{ region }}"
    bucket         = "{{ bucket }}"
    key            = "{{ key }}"
  }
}
